# site properties and page defaults
title: C. William Swank Program in Rural-Urban Policy
subtitle:
description: The C. William Swank Program in Rural-Urban Policy at The Ohio State University
proofer: false
baseurl: /swank-program

# site social media and other links
links:
  email: lade.5@osu.edu
  github: gabe-lade
  twitter: gabelade

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default

# Disabled collections (no longer using separate member/post pages)
# collections:
#   members:
#     output: false
#   posts:
#     output: false

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff

# keep certain files when building
keep_files:
  - .nojekyll

